@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");

input {
	display: none;
}

::-webkit-scrollbar {
	display: none;
}

@media (min-width: 550px) {
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Montserrat", sans-serif;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #1d1d1f;
		overflow: hidden;
	}

	.content {
		background: #ccc;
		align-self: center;
		height: 100%;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		color: #1d1d1f;
		position: relative;
		z-index: 1;
	}

	.info {
		font-weight: bold;
		font-size: large;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.info h2,
	h4,
	#compra {
		margin: 10px;
	}

	#c {
		background: rgb(88, 87, 87);
		color: white;
		font-size: large;
		border: none;
		padding: 2vh 6vh;
		cursor: pointer;
		text-align: center;
		margin: 10px;
	}

	#c:hover {
		transform: scale(1.1);
	}

	#f {
		height: 100%;
		width: 100%;
		display: none;
		position: absolute;
		left: 50%;
		transform: translatex(-50%);
		top: 0;
		background: #ccc;
		justify-content: center;
	}

	#qr {
		align-self: center;
		display: flex;
		flex-wrap: wrap;
		background: rgb(0, 0, 0, 0.2);
		border-radius: 10px;
		height: 50%;
		width: 90%;
		justify-content: space-between;
	}

	#qr img {
		width: 30vh;
		height: auto;
		align-self: center;
		padding: 0 10px;
	}

	#qr div {
		padding-top: 50px;
		margin-right: 10px;
		width: 50%;
	}

	#comprar:checked ~ #f {
		display: flex;
	}

	#x:checked ~ #qr {
		display: none;
	}

	.banner {
		width: 40vh;
		height: 40vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.social {
		height: 70vh;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding: 0 10px;
	}

	.social img {
		filter: invert(100%);
	}

	.social img:hover {
		transform: scale(1.3);
	}

	#Sobre:checked ~ .content {
		display: none;
	}

	#Sobre:checked ~ .Description {
		display: block;
	}

	.Description {
		padding: 0 5vh;
		background: #ccc;
		height: 100%;
		width: auto;
		color: #1d1d1f;
		position: relative;
		overflow-y: scroll;
		z-index: 2;
		display: none;
		font-weight: bold;
		font-size: large;
	}
}

@media (max-width: 550px) {
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Montserrat", sans-serif;
		height: 100vh;
		display: flex;
		flex-direction: column;
		background: #1d1d1f;
		overflow: hidden;
	}

	.content {
		background: #ccc;
		align-self: center;
		height: 100%;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		color: #1d1d1f;
		position: relative;
		z-index: 1;
	}

	.info {
		font-weight: bold;
		font-size: large;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.info h2,
	h4,
	#compra {
		margin: 10px;
	}

	#c {
		background: rgb(88, 87, 87);
		color: white;
		font-size: large;
		border: none;
		padding: 2vh 6vh;
		cursor: pointer;
		text-align: center;
		margin: 10px;
	}

	#c:hover {
		transform: scale(1.1);
	}

	#f {
		height: 100%;
		width: auto;
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		background: #ccc;
		justify-content: center;
	}

	#qr {
		align-self: center;
		display: flex;
		flex-direction: column;
		background: rgb(0, 0, 0, 0.2);
		border-radius: 10px;
		height: auto;
		width: 90%;
		justify-content: space-between;
	}

	#qr img {
		width: 30vh;
		height: auto;
		align-self: center;
	}

	#qr div {
		align-self: center;
		padding: 0 10%;
	}

	#comprar:checked ~ #f {
		display: flex;
	}

	#x:checked ~ #qr {
		display: none;
	}

	.banner {
		width: 40vh;
		height: 40vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.social {
		height: auto;
		padding: 4px 0;
		display: flex;
		justify-content: space-evenly;
	}

	.social img {
		filter: invert(100%);
	}

	.social img:hover {
		transform: scale(1.3);
	}

	#Sobre:checked ~ .content {
		display: none;
	}

	#Sobre:checked ~ .Description {
		display: block;
	}

	.Description {
		padding: 0 5vh;
		background: #ccc;
		height: 100%;
		width: auto;
		color: #1d1d1f;
		position: relative;
		overflow-y: scroll;
		z-index: 2;
		display: none;
		font-weight: bold;
		font-size: large;
	}
}
