@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");

@import url(//db.onlinewebfonts.com/c/89de55d3fc5ed907d4eabd145a4bd201?family=SF+Collegiate);

@import url(//db.onlinewebfonts.com/c/aa12a710af434ef5e04f88fc37a4c7cc?family=Klavika+Bold);

@media (min-width: 720px){

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100vh;
	background: rgb(65, 65, 67);
	background: linear-gradient(
		235deg,
		rgba(65, 65, 67, 1) 0%,
		rgba(29, 29, 31, 1) 67%,
		rgba(24, 24, 26, 1) 100%
	);

	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	color: #878789;
	font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

.container {
	height: 400px;
	width: 95vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #1d1d1f;
}

.center{
	margin: 0 10vh;
	justify-self: center;
	display: grid;
	grid-template-columns: 90% 10%;
}

#product {
	display: flex;
	grid-column-start: 1;
}

.txt {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.txt a {
	width: 30vh;
	font-size: medium;
	font-weight: bold;
	cursor: pointer;
	background: #efefef;
	text-align: center;
	padding: 2vh 4vh;
	text-decoration: none;
}

.txt a:active {
	transform: scale(1.2);
}

.img{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

img{
	width: 100%;
}

#info{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

input {
	display: none;
}

label {
	font-size: x-large;
	cursor: pointer;
	font-weight: bold;
	padding: 0 40% 0 10px;
}

label:hover {
	transform: scale(1.2);
}


.Description {
	display: none;
}

#Sobre:checked ~ .Description {
	display: block;
	background: #1d1d1f;
	position: absolute;
	top: 75%;
	left: 2.5%;
	height: auto;
	width: 95vw;
	box-sizing: border-box;
	padding: 20px 40px;
}


#GH {
	font-family: "SF Collegiate", sans-serif;
	font-weight: bold;
	color: #fafafa;
	font-size: x-large;
	padding: 0 40% 0 10px;
	text-decoration: none;
}

#GH:hover {
	color: #ccc;
	transform: scale(1.2);
}

#FC {
	font-family: "Klavika Bold", sans-serif;
	font-weight: bold;
	color: #4267b2;
	font-size: x-large;
	padding: 0 40% 0 10px;
	text-decoration: none;
}

#FC:hover {
	color: #ccc;
	transform: scale(1.2);
}

}

@media (max-width: 720px) {
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		height: 100vh;
		background: #1d1d1f;
	}

	
* {
	color: #878789;
	font-family: "Montserrat", sans-serif;
}

.container {
	height: 100%;
	width: 100%;
	background: #1d1d1f;
	text-align: left;
	display: flex;
}

.center{
	margin: 0 5vh;
}

.txt a {
	position: absolute;
	bottom: 76vh;
	left: 40%;
	width: 20vh;
	font-size: medium;
	font-weight: bold;
	cursor: pointer;
	background: #efefef;
	text-align: center;
	padding: 2vh 4vh;
	text-decoration: none;
}

.txt a:active {
	transform: scale(1.2);
}

.img{
	width: 60%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

img{
	width: 100%;
}

#info{
	position: relative;
	display: flex;
	justify-content: space-evenly;
}

input {
	display: none;
}

label {
	font-size: x-large;
	cursor: pointer;
	font-weight: bold;
}

label:hover {
	color: #ccc;
}

.Description {
	display: none;
	text-align: justify;
}

#Sobre:checked ~ .Description {
	display: block;
	background: #1d1d1f;
	position: absolute;
	top: 100%;
	height: auto;
	width: 90vw;
	box-sizing: border-box;
	padding: 20px 40px;
}


#GH {
	font-family: "SF Collegiate", sans-serif;
	font-weight: bold;
	color: #fafafa;
	font-size: x-large;
	text-decoration: none;
}

#GH:hover {
	color: #ccc;
}

#FC {
	font-family: "Klavika Bold", sans-serif;
	font-weight: bold;
	color: #4267b2;
	font-size: x-large;
	text-decoration: none;
}

#FC:hover {
	color: #ccc;
}
}
